## Imports

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from scipy.stats import skew

## Load the data

In [7]:
train = pd.read_csv("Data/train_set_allnum.csv")
test = pd.read_csv("Data/test_set_allnum.csv")
train_set, test_set = train_test_split(train, test_size=0.2, random_state=42)
train_set

,Id,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtUnfSF,2ndFlrSF,BsmtFullBath,FullBath,HalfBath,...,x23_ConLw,x23_New,x23_Oth,x23_WD,x24_Abnorml,x24_AdjLand,x24_Alloca,x24_Family,x24_Normal,x24_Partial
591,252,8,5,2006,2007,0,0,1,2,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
184,862,5,4,1965,1965,198,0,1,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
743,852,8,5,2003,2003,1273,0,0,2,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
178,583,6,5,1990,1990,0,0,1,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
597,327,8,5,1993,1993,100,0,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,726,4,6,1970,1970,250,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1095,402,7,5,2005,2005,1286,0,0,2,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1130,958,5,5,1962,1962,640,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
860,993,6,8,1964,1993,169,831,0,2,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1126,1268,9,5,2008,2009,2002,0,0,2,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

## Task 6.1. check how many missing values are there for each variable.
use both total count and percentage together to report the result let's drop columns that have more than 10% missing

In [26]:
count_missing_train = train_set.isnull().sum().sort_values(ascending=False)
percent_missing_train = (train_set.isnull().sum() / train_set.isnull().count()
                         * 100).sort_values(ascending=False)


count_missing_test = test_set.isnull().sum().sort_values(ascending=False)
percent_missing_test = (test_set.isnull().sum() / test_set.isnull().count()
                         * 100).sort_values(ascending=False)

print(str(len(percent_missing_train.index[percent_missing_train > 0].tolist())) + " are the number of train cols with stuff missing")
print(str(len(percent_missing_train.index[percent_missing_test > 0].tolist())) + " are the number of train cols with stuff missing")

"""
Nothing has to be droped since nothing is missing (which is nice)
"""

percent_missing_train

0 are the number of train cols with stuff missing
0 are the number of train cols with stuff missing

Id             0.0
x14_ImStucc    0.0
x13_Roll       0.0
x13_Tar&Grv    0.0
x13_WdShake    0.0
              ...
x7_Blmngtn     0.0
x7_Blueste     0.0
x7_BrDale      0.0
x7_BrkSide     0.0
x24_Partial    0.0
Length: 222, dtype: float64

## Task 6.2. drop variables that have 10% or above missing variables.
SKIPPED SINCE THERE ARE NONE :)

## Task 6.3. repeat 6.1 to check missing values again
SKIPPEED SINCE THERE ARE NONE

## Task 6.4. split the test_set into two dataframes:
test_num that only include numerical variables
test_cat that only include non-numerical variables

In [30]:
train_num = train_set.select_dtypes(include=np.number)
train_cat = train_set.select_dtypes(exclude=np.number)
test_num = test_set.select_dtypes(include=np.number)
test_cat = test_set.select_dtypes(exclude=np.number)

train_num
train_cat # NOTE: ALL of train_cat is empty so everything is np.number

Empty DataFrame
Columns: []
Index: [591, 184, 743, 178, 597, 716, 899, 433, 549, 78, 381, 908, 793, 286, 413, 1105, 783, 573, 798, 481, 39, 30, 242, 620, 136, 923, 771, 3, 602, 773, 989, 1074, 471, 670, 1036, 464, 100, 947, 453, 427, 1155, 277, 342, 841, 227, 1083, 485, 634, 902, 66, 67, 289, 211, 12, 715, 1106, 711, 722, 1045, 812, 956, 628, 973, 813, 410, 1089, 541, 644, 273, 332, 237, 824, 2, 6, 980, 872, 458, 215, 1153, 27, 1167, 333, 331, 745, 724, 665, 701, 660, 1113, 367, 256, 291, 25, 907, 47, 318, 106, 55, 617, 213, ...]

[934 rows x 0 columns]

## Task 6.5. use mean replacement to impute missing values for "MasVnrArea"
Skip since there is nothing missing

## Task 6.6. use knn algorithm to impute missing values for "GarageYrBlt"
Skip since nothing missing

## Task 6.7. use the most frequent value to fill all missing categorical vars
Skip since there are no cat vars

## Task 6.8 combine test_num and test_cat back together as test_set
skipped since there was never anything missing so nothing to cat back together

## Task 6.9. repeat Task 6.1 to check missing value again

In [28]:
count_missing_train = train_set.isnull().sum().sort_values(ascending=False)
percent_missing_train = (train_set.isnull().sum() / train_set.isnull().count()
                         * 100).sort_values(ascending=False)


count_missing_test = test_set.isnull().sum().sort_values(ascending=False)
percent_missing_test = (test_set.isnull().sum() / test_set.isnull().count()
                         * 100).sort_values(ascending=False)

print(str(len(percent_missing_train.index[percent_missing_train > 0].tolist())) + " are the number of train cols with stuff missing")
print(str(len(percent_missing_train.index[percent_missing_test > 0].tolist())) + " are the number of train cols with stuff missing")

"""
Nothing has to be droped since nothing is missing (which is nice)
"""

0 are the number of train cols with stuff missing
0 are the number of train cols with stuff missing

'\nNothing has to be droped since nothing is missing (which is nice)\n'

## Task 6.10. Create two new features that might be useful for prediction
Task 6.10.1. add Total Square feet = TotalBsmtSF + 1stFlrSF + 2ndFlrSF 
test_num['TotalSF'] 

task 6.10.2 add bedroom to total room ratio as a new feature
test_num['Bed_ratio']

In [35]:
# Task 6.10.1: Add Total Square feet
test_set['TotalSF'] = test_set['TotalBsmtSF'] + test_set['1stFlrSF'] + test_set['2ndFlrSF']
train_set['TotalSF'] = train_set['TotalBsmtSF'] + train_set['1stFlrSF'] + train_set['2ndFlrSF']
# Task 6.10.2: Add bedroom to total room ratio
train_set['Bed_ratio'] = train_set['BedroomAbvGr'] / train_set['TotRmsAbvGrd']
test_set['Bed_ratio'] = test_set['BedroomAbvGr'] / test_set['TotRmsAbvGrd']

# Display the updated DataFrame
train_set['Bed_ratio'].head()

591    0.400000
184    0.500000
743    0.285714
178    0.600000
597    0.166667
Name: Bed_ratio, dtype: float64

## Task 6.11.. in this task, we will deal with skewed numeric features

In [42]:

# Task 6.11.1: Check for variable skewness
skewness = train_set.skew().sort_values(ascending=False)

# Task 6.11.2: Get a list of highly skewed variables
skewed_vars = skewness.index[skewness >= 1].to_list()

# Task 6.11.3: Split the df test_num into two parts, based on if the features are highly skewed
unskewed_num_data = train_set.drop(skewed_vars, axis=1)
skewed_num_data = train_set[skewed_vars]

# # Task 6.11.4: Use log-transform to adjust the highly skewed data
highly_skewed_data = np.log1p(highly_skewed_data)

# # Task 6.11.5: Merge the unskewed_num_data and skewed_num_data back to test_num
train_set = pd.concat([unskewed_data, highly_skewed_data], axis=1)
# test_num
skewed_vars

['x13_ClyTile',
 'x15_Other',
 'x9_RRNn',
 'x15_CBlock',
 'x14_CBlock',
 'x4_NoSeWa',
 'x9_RRAn',
 'x14_ImStucc',
 'x5_FR3',
 'x8_RRNe',
 'x13_Metal',
 'x9_RRAe',
 'x9_Artery',
 'x17_Wood',
 'x18_OthW',
 'x13_Roll',
 'x14_Stone',
 'x18_Floor',
 'x9_Feedr',
 'x15_AsphShn',
 'x12_Mansard',
 'x8_RRNn',
 'x14_BrkComm',
 'x23_Con',
 'x13_WdShake',
 'x12_Shed',
 'x9_PosN',
 'x15_Stone',
 'x23_Oth',
 'x20_FuseP',
 'x13_WdShngl',
 'x23_ConLI',
 'x18_Wall',
 'x1_Grvl',
 'x23_ConLD',
 'x21_2Types',
 'x24_AdjLand',
 'x23_ConLw',
 'x0_C (all)',
 'x8_PosA',
 'x23_CWD',
 'x17_Stone',
 'x18_Grav',
 'x7_Veenker',
 'PoolArea',
 'x2_IR3',
 'x11_2.5Fin',
 'x21_CarPort',
 'x15_Brk Cmn',
 'x15_ImStucc',
 'x7_NPkVill',
 'x7_MeadowV',
 'x8_RRAe',
 'x24_Alloca',
 'x12_Gambrel',
 'x13_Tar&Grv',
 'x11_2.5Unf',
 'x6_Sev',
 'x21_Basment',
 'x11_1.5Unf',
 'x12_Flat',
 'x7_BrDale',
 'x16_BrkCmn',
 'x15_BrkFace',
 'x14_AsbShng',
 'x7_Blmngtn',
 'x18_GasW',
 'x15_AsbShng',
 'x0_RH',
 'x8_RRAn',
 'x14_WdShing',
 '3SsnPorch',
 'x8_PosN',
 'x14_Stucco',
 'x24_Family',
 'x7_ClearCr',
 'LowQualFinSF',
 'x7_StoneBr',
 'x7_SWISU',
 'x17_Slab',
 'x15_Stucco',
 'x20_FuseF',
 'x22_P',
 'x3_Low',
 'x7_IDOTRR',
 'x11_SFoyer',
 'x10_2fmCon',
 'x10_Twnhs',
 'x15_Wd Shng',
 'x23_COD',
 'x2_IR2',
 'x7_Timber',
 'x7_NoRidge',
 'x5_FR2',
 'x8_Artery',
 'x14_BrkFace',
 'x10_Duplex',
 'x3_HLS',
 'x15_CmentBd',
 'x7_Mitchel',
 'MiscVal',
 'x0_FV',
 'x14_CemntBd',
 'x7_BrkSide',
 'x7_SawyerW',
 'x7_Crawfor',
 'x3_Bnk',
 'x11_SLvl',
 'x6_Mod',
 'x7_Somerst',
 'x7_Sawyer',
 'x7_NridgHt',
 'x7_Gilbert',
 'x7_NWAmes',
 'x21_BuiltIn',
 'BsmtHalfBath',
 'x8_Feedr',
 'BsmtFinType2',
 'x20_FuseA',
 'KitchenAbvGr',
 'x24_Abnorml',
 'x22_N',
 'x14_Plywood',
 'x19_N',
 'x7_Edwards',
 'x5_CulDSac',
 'x10_TwnhsE',
 'x23_New',
 'x24_Partial',
 'ScreenPorch',
 'x7_OldTown',
 'x7_CollgCr',
 'x16_Stone',
 'x15_Plywood',
 'x17_BrkTil',
 'BsmtFinSF2',
 'x11_1.5Fin',
 'EnclosedPorch',
 'x15_Wd Sdng',
 'x14_Wd Sdng',
 'x15_HdBoard',
 'x15_MetalSd',
 'x7_NAmes',
 'x0_RM',
 'x14_MetalSd',
 'x14_HdBoard',
 'x5_Corner',
 'x12_Hip',
 'BsmtExposure',
 'ExterCond',
 'x21_Detchd']

## Task 6.12. In this task, we will deal with categorical variables
Skipped sicne there are none :)

## Task 6.14 double check if all variables are numeric

In [45]:
 train_set.select_dtypes(exclude=np.number) # there are no non numeric hence all are numeric :)
 test_set.select_dtypes(exclude=np.number)

Empty DataFrame
Columns: []
Index: [694, 1116, 58, 70, 1030, 352, 643, 244, 298, 328, 23, 199, 889, 233, 467, 925, 327, 296, 667, 319, 1085, 140, 618, 425, 570, 354, 1093, 849, 113, 560, 826, 422, 966, 811, 905, 924, 156, 759, 109, 948, 884, 49, 405, 561, 231, 429, 946, 101, 451, 1132, 128, 731, 362, 808, 545, 762, 590, 967, 596, 1003, 355, 428, 308, 548, 714, 210, 837, 192, 158, 558, 1137, 344, 1154, 163, 198, 969, 435, 394, 107, 706, 692, 937, 807, 376, 292, 86, 900, 209, 939, 44, 629, 218, 988, 1160, 1161, 323, 532, 377, 462, 51, ...]

[234 rows x 0 columns]